{{#if users}}
    <table class="table table-dark table-hover table-borderless listener-table">
        <thead class="coog-thead">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Handle</th>
                <th scope="col">Display Name</th>
                <th scope="col">User Type</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each users}}
            <tr>
                <td>{{email}}</td>
                <td>{{handle}}</td>
                <td>{{displayName}}</td>
                <td>{{userType}}</td>
                <td>
                    <div class="actions">

                        <!-- Edit user button on admin dash -->
                        <a href="/admin/edit/{{_id}}" class="btn btn-outline-success">
                            <i class="bi bi-pencil-square"></i></a>  

                        <!-- Delete user button on admin dash -->
                        <form action="/admin/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">

                            <button type="submit" class="btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>

                        <!-- Follow button on admin dash -->
                        <form action="/admin/follow/{{_id}}" method="POST" class="col s12">
                            <input type="hidden" name="_method" value="PUT">

                            <button type="submit" class="btn">
                                <i class="btn"></i> follow
                            </button>
                        </form>

                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>There are no users</p>
{{/if}}