<div class="dash-content">
    {{#if thoughts}}
        <div class="feed-container">
            {{#each thoughts}}
            <div class="thought">
                <div class="profile-pic-container">
                    <img src="{{user.image}}" alt="User image" class="profile-pic">
                </div>
                
                <div class="thought-content">
                    <div class="thought-info-bar">
                        <p>{{user.displayName}}@{{user.handle}}</p>
                    </div>

                    <div class="thought-text">
                        <p>{{text}}</p>
                    </div>

                    <div class="thought-impressions">

                    </div>
                </div>

            </div>
            {{/each}}
        </div>

    {{else}}
        <p>You have no thoughts</p>
    {{/if}}
</div>


<!--
<tr>
    <td><a href="/thoughts/{{_id}}">{{title}}</a></td>
    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
    <td><span class="dash-status">{{status}}</span></td>
    <td>
        <form action="/thoughts/{{_id}}" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red">
                <i class="fas fa-trash"></i>
            </button>
        </form>
    </td>
</tr>
-->