<img src="{{profile.image}}" referrerpolicy="no-referrer" alt="User image" class="profile-pic">
<p>{{profile.displayName}}</p>
<p>@{{profile.handle}}</p>
{{#if profile.bio}}
<p>This is {{profile.bio}}</p>
{{/if}}
<!-- Format date -->
<p>Joined {{profile.createdAt}}</p>

{{#if isFollowed}}
    <form action="/unfollow/{{profile._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">

        <button type="submit" class="btn-green">unfollow</button>
    </form>
{{else}}
    <form action="/follow/{{profile._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">

        <button type="submit" class="btn-green">follow</button>
    </form>
{{/if}}

<hr>

<div class="dash-content">
    {{#if thoughts}}
        <div class="feed-container" id="feed">
            {{#each thoughts}}
            <div class="thought">
                <div class="profile-pic-container">
                    <img src="{{this.user.image}}" referrerpolicy="no-referrer" alt="User image" class="profile-pic">
                </div>
                
                <div class="thought-content">
                    <div class="thought-info-bar">
                        <p>{{this.user.displayName}}@{{this.user.handle}}</p>
                    </div>

                    <div class="thought-text">
                        <p>{{this.text}}</p>
                    </div>

                    <div class="thought-impressions">
                        <span class="bi bi-heart"></span>
                        <!-- <span class="bi bi-heart-fill"></span> -->

                    </div>
                </div>

            </div>
            {{/each}}
        </div>

    {{else}}
        <p>No thoughts yet</p>
    {{/if}}
</div>